<?php
// Copy this file to config.php and update the values to match your config.
namespace FRTest;

defined('JTSM') or die();

$jtsm_template_path = JTSM . 'templates';

// vi: set ts=4 sts=4 sw=4 et ai syntax=php ff=unix: //

